# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Generated CSS
public/css/output.css

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# OS / Editor stuff
.DS_Store
desktop.ini
.vscode/
.idea/

# File Component 
components.json

# File Pnpm
pnpm-lock.yaml

Build cache / artifacts
dist/
build/
.tailwindcache/